<div class="container-fluid">
<%= form_for @food, html: {mutlipart: true} do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-offset-4">
      <%= f.fields_for :image do |img|%>
        <%= img.label :image %><br>
        <%= img.text_field :name, class: "form-control1"%>
        <%= img.file_field :data %>
      <%end%>
    </div>    
  </div>
  <div class="row">
    <div class="col-xs-offset-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control1" %>
    </div>    
  </div>
  <div class="row">
    <div class="col-xs-offset-4">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control2" %>
    </div>    
  </div>

  <div class="row">
    <%= f.fields_for :subs do |sub| %>
      <%= render 'sub_fields', :f => sub %>
      <div class="col-xs-offset-4 btn btn-default">
      <%= link_to_add_association 'Add sub', f, :subs %>
      </div>                
    <% end %>    
  </div>

  <div class="row">
    <div class="col-xs-offset-4">
      <%= f.submit class: "btn btn-success"%>
    </div>    
  </div>
  <%end%>
</div>

