<div class="nested-fields">
<h2>Add a susbstitute</h2>
	<div class="col-xs-offset-4">
	  <%= f.fields_for :image do |img|%>
	    <%= img.label :image %><br>
	    <p class="form-control1">Only upload in edit</p>
	    <%# img.text_field :name, class: "form-control1"%>
	    <%# img.file_field :data %>
	  <%end%>
	</div> 
	<div class="col-xs-offset-4">
		<%= f.label :name %> <br>
		<%= f.text_field :name, class: "form-control1" %>
	</div>

	<div class="col-xs-offset-4">
		<%= f.label :description %> <br>
		<%= f.text_area :description, class: "form-control2" %>
	</div>
	<div class="col-xs-offset-4 btn btn-default">
		<%= link_to_remove_association 'remove sub', f %>
	</div>
</div>