<div class="container-fluid pad-top">
  <div class="row center">
    <h3><%= @food.name %></h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="row center">
        <%= image_tag @food.image.url(:medium), class: "pad-bot1 img-rounded"%>
      </div>
      <div class="row center">
        <strong>Associated Substitutes:</strong>
          <ul class="ul_show">
            <% @food.subs.each do |sub| %>
             <li><%= link_to sub.name, sub %></li>
            <% end %>
          </ul>
      </div>
      <div class="row center pad-bot1">
        <%= link_to root_path do%>
          <i class="fa fa-arrow-left fa-2x"></i>
        <%end%> 
      </div>  
    </div>
    <div class="col-xs-12 col-sm-7 pad-bot1 justify">
      <%= @food.description %>
    </div>
  </div>
</div>


<% if user_signed_in? and @admin == true %>
	<%= link_to 'Edit', edit_food_path(@food) %> |
	<%= link_to 'Destroy', @food, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%> 