<div class="container-fluid pad-top">
  <div class="row center">
    <h2 class="text-success pad-bot2"><%= @sub.name %></h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="row center">
        <%=image_tag(url_for(:controller => 'subs', :action => '_show_image'), class: "pad-bot1 img-circle") %>
      </div>
      <div class="row center">
        <%= link_to root_path do%>
          <i class="fa fa-arrow-left fa-2x"></i>
        <%end%>
        <% if user_signed_in? and @admin == true %>
          | <%= link_to '<i class="fa fa-pencil-square-o fa-2x"></i>'.html_safe, edit_sub_path(@sub)%> |
          <%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, @sub, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>         
      </div>      
      <div class="row center brand">
        <strong>Substitute for:</strong>
          <ul class="ul_show">
            <% @sub.foods.each do |food| %>
             <li><%= link_to food.name, food, class: "text-success" %></li>
            <% end %>
          </ul>
      </div>  
    </div>
    <div class="col-xs-12 col-sm-7 pad-bot1 justify lead">
      <%= @sub.description %>
    </div>
  </div>
</div>