<!DOCTYPE html>
<html>
<head>
  <title>Smartcrave</title>
	<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="container-fluid" id="top-bar">
		<div class="row">
			<%if user_signed_in?%>
				<div class="col-xs-12">
					<ul class="top_ul">
						<% if user_signed_in? and @admin == true %>
						<li class="top_li">
						<%= link_to new_food_path do%>
							<i class="fa fa-fire fa-4x"></i>
						<%end%>
						</li>
						<li class="top_li">
						<%= link_to new_sub_path do%>
							<i class="fa fa-fire-extinguisher fa-4x"></i>
						<%end%>
						</li>
						<li class="top_li click_me" data-toggle="modal" data-target=".bs-example-modal-lg">
								<i class="fa fa-lightbulb-o fa-4x"></i>
						</li>
						<% elsif user_signed_in? and @admin == false || @admin == nil %>
						<li class="top_li">Do not forget to require the admin rights</li>
						<% end %>
<!-- 						<li class="top_li"><strong><%#current_user.email %></strong></li> -->
						<li class="top_li">
						<%= link_to edit_user_registration_path do%>
							<i class="fa fa-pencil-square-o fa-4x"></i>
						<%end%>
						</li>
						<li class="top_li">
						<%= link_to destroy_user_session_path, method: :delete do%>
							<i class="fa fa-sign-out fa-4x"></i>
						<%end%>
						</li>
					</ul>
				</div>
			<%else%>
				<div class="col-sm-offset-6 col-sm-6 col-xs-12">
					<ul class="top_ul">
							<li class="top_li click_me" data-toggle="modal" data-target=".bs-example-modal-lg">
								<i class="fa fa-lightbulb-o fa-4x"></i>
							</li>
							<li class="top_li click_me" data-toggle="modal" data-target=".modal2">
								<i class="fa fa-heart-o fa-4x"></i>
							</li>
							<li class="top_li click_me">
							<%= link_to new_user_session_path do%>
								<i class="fa fa-sign-in fa-4x"></i>
							<%end%>
							</li>
					</ul>
				</div>
			<%end%>
		</div>
	</div>
</header>

<div>
	<%= yield %>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	<% if user_signed_in? %>
    	<div class="modal-content">
    		<div class="row">
	    		<div class="col-xs-12">
	    			<%= render "foods/index_ideas" %>
	    		</div>
	   		 </div>
		</div>
	<% else %>
		<div class="modal-content">
			<div class="row">
				<div class="col-xs-12 center">
					<%= render "foods/new_idea"%>
				</div>
			</div>
		</div>
	<%end%>
  </div>
</div>
<!-- Modal 2 -->
<div class="fade modal modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<h5 class="center text-success">3 ways to show us your love !</h5>
    	<div class="row brand pad-love">
    		<div class="col-xs-4 center">    	
    			<a href="mailto:news@smartcrave.org" class="fa fa-envelope fa-5x click_me" style="text-decoration: none;"></a>
    		</div>
    		<div class="col-xs-4 center">
    			<i onclick="myFace()" class="fa fa-facebook fa-5x click_me"></i>
    		</div>
      		<div class="col-xs-4 center">
      			<%= link_to new_donation_path do%>
      				<i class="fa fa-usd fa-5x click_me"></i>
      			<%end%>
      		</div>
    	</div>
    </div>
  </div>
</div>

</body>
</html>